<nav class="top-bar">
  <div class="left-section">
    <%= render "shared/breadcrumb" %>
      <li class="breadcrumb-item" aria-current="page">
        <%= link_to "Settings" %>
      </li>
    </ol>
  </div>
  <div class="right-section">
    <%= render "shared/user_section" %>
  </div>
</nav>

<div class="edit-wrapper"> 
  <section class="account_setting_wrapper channel-edit">
    <div class="card">
      <div class="card-header text-center">
        <ul class="nav nav-tabs">
          <li class="nav-item">
          <%= link_to "個人資料", edit_user_registration_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
          <%= link_to "組織資料", edit_organization_path, class:"nav-link " %>
          </li>
          <li class="nav-item">
          <%= link_to "頻道資料", edit_channel_path, class:"nav-link active" %>
          </li>
          <div class="org-form">
            <h4 class="">頻道：<%= @channel.name.limit(30) %></h4>
          </div>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center subtitle">
        <h6 class="card-title m-0">頻道邀請名單</h6>
      </div>
      <div class="card-body text-center">
          <%= form_tag(new_channel_role_path, method: "post", class: "org-form") do %>
            <div class="form-row align-items-center">
                <h6 class="col-auto col-form-label">寄送邀請信</h6>
                <div class="col-sm-8">
                  <%= email_field_tag :email, nil, class: "form-control col-auto", placeholder: "請輸入收件者電子信箱" %>
                  <input type="hidden" name="organization_id" value="<%= @organization.id %>">
                  <input type="hidden" name="channel_id" value="<%= @channel.id %>">
                </div>
                <input class="btn btn-outline-secondary" type="submit" value="寄送邀請">
            </div>
          <% end %>
      </div>
        <div class="card-body text-center">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">收件者</th>
                <th scope="col">動作</th>
              </tr>
            </thead>
            <tbody>
              <% @channel.invites.each do |invite| %>
                <tr>
                  <td><%= invite.receiver %></td>
                  <td class="row">
                    <%= form_tag(new_channel_role_path, method: "post") do %>
                    <input type="hidden" name="organization_id" value="<%= invite.item_id %>">
                    <input type="hidden" name="email" value="<%= invite.receiver %>">
                    <input class="btn btn-outline-secondary" type="submit" value="再次邀請">
                    <%= link_to "取消邀請", cancel_invite_path(token: invite.token),method: "delete", data: {confirm: "確定？"}, class: "btn btn-outline-info" %>
                  </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>

    <div class="card">
      <div class="card-header text-center subtitle">
        <h6 class="card-title m-0">頻道成員名單</h6>
      </div>
      <div class="card-body text-center">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">成員信箱</th>
              <th scope="col">成員名稱</th>
              <th scope="col">權限</th>
              <th scope="col">動作</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.name.limit(30) %></td>
                <% if user == current_user %>
                  <td>
                    <%= user.role %>
                  </td>
                <% else %>
                  <td>
                    <%= form_tag(channel_role_path, method: 'patch') do %>
                      <%= hidden_field_tag :user_id, user.id %>
                      <select class="btn btn-outline-dark" name="role"  onchange="this.form.submit();">
                        <% [member, admin].each do |role| %>
                          <option value="<%= role %>"
                            <% if role == user.role %>
                              selected
                            <% end %>
                            ><%= role %>
                          </option> 
                        <% end %>
                      </select>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to "刪除", channel_role_path(user_id: user.id), data: {confirm: "確定？"}, method: "delete", class:"btn btn-outline-info" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center subtitle">
        <h6 class="card-title m-0">新增頻道</h6>
      </div>
      <div class="card-body text-center">
        <div class="form-row align-items-center">
          <%= form_tag(channel_path, method: 'post', class: "org-form") do %>
            <input type="hidden" name="channel[organization_id]" value="<%= @organization.id %>">
            <input type="text" name="channel[name]" placeholder="輸入新頻道名稱">
            <input type="submit" class="btn btn-outline-secondary" value="新增頻道">
          <% end %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center subtitle">
        <h6 class="card-title m-0">編輯頻道</h6>
      </div>
      <div class="card-body">
        
        <div class="org-form">
          <div class="form-row align-items-center">
            <h6 class="col-auto col-form-label">頻道改名：</h6><%= form_tag(channel_path, method: 'patch') do %>
            <input type="text" name="channel[name]" placeholder="請輸入新名稱">
            <input type="submit" value="送出" class="btn btn-outline-secondary">
            <% end %>
            
          </div>
          <div class="form-row align-items-center">
            <h6 class="col-auto col-form-label">頻道刪除：</h6>
            <%= form_tag(channel_path, method: 'delete') do %>
              <%= submit_tag "刪除頻道", class: "btn btn-outline-info", data: {confirm: "確定要刪除頻道 #{@channel.name} ?"} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
