<div class="card-header">
  <h3 class="text-center">
    <%= @channel.name %>
  </h3>
</div>

<div class="w-50 mx-auto mt-5">
  <div style="min-height: 60vh">
    <div>
      <h5>電子報列表：</h5>
    </div>
    <% @articles.each do |article| %>
      <p class="list-group-item mb-0">
        <%= link_to article.subject, article_path(article) %>
      </p>
    <% end %>
  </div>
  <%= form_for @subscriber, url: subscribe_path, method: "post", html: {class: "d-flex"}, remote: true do |f| %>
    <div class="mx-auto">
      <%= f.email_field :email , placeholder: "請輸入信箱" %>
      <%= f.hidden_field :channel_id, value: @channel.id %>
      <%= f.submit "訂閱我們！", class: "btn btn-danger" %>
    </div>
  <% end %>
  
</div>
