<nav class="top-bar">
  <div class="left-section">
  </div>
  <div class="right-section">
    <%= render "shared/user_section" %>
  </div>
</nav>

<%= form_for @channel, url: channel_path do |f| %>
  <%= f.hidden_field :organization_id, value: current_organization_id %>
  <%= f.label :name, "頻道名稱" %>
  <%= f.text_field :name %>
  <%= f.submit "送出", disable_with: '送出中...' %>
  
<% end %>