<nav class="top-bar">
  <div class="left-section">
    <%= render "shared/breadcrumb" %>
      <li class="breadcrumb-item" aria-current="page">
        <%= link_to "Articales" %>
      </li>
    </ol>
  </div>
  <div class="right-section">
    <%= render "shared/user_section" %>
    <%= link_to "Create Article", new_article_path, class:"btn btn-primary"%>
  </div>
</nav>

<section>
  <div class="card">
    <div class="card-body">
      <% @articles.each do |article| %>
        <h5 class="card-title">
          <%= link_to article.subject, article_path(article) %>
        </h5>
        <%= link_to "Edit", edit_article_path(article), method: :GET, class:"btn btn-primary btn-sm" %>
        <%= 
          link_to "Delete", article_path(article), 
                            method: :delete, 
                            data: { 
                              confirm: "Are you sure you want to delete this aritcle?", 
                              class:"button"
                            } 
        %>
        <div>
          <%= link_to article.created_at.strftime("%A, %B %d %Y"), article_path(article) %>
        </div>
      <% end %>
    </div>
  </div>
</section>