<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to @channel.name, @channel %></li>
  </ol>
</nav>
<section>
  <div class="card">
   <div class="card-header">
 <%= link_to "Create Article", new_channel_article_path(@channel), class:"btn btn-primary"%>
   </div>
   <div class="card-body">
      <% @articles.each do |article| %>
      <h5 class="card-title"><%= link_to article.subject, channel_article_path(channel_id: @channel.id, id: article.id) %></h5>
      <%= link_to "Edit", edit_channel_article_path(channel_id: @channel.id, id: article.id), class:"btn btn-primary" %>
      <%= link_to "Delete", channel_article_path(channel_id: @channel.id, id: article.id), class:"btn btn-primary" %>
      <%= link_to article.created_at.strftime("%A, %B %d %Y"), class:"card-text" %>
      <% end %>
   </div>
  </div>
</section>