<nav class="top-bar">
  <div class="left-section">
    <%= render "shared/breadcrumb" %>
      <li class="breadcrumb-item" aria-current="page">
        <%= link_to "Articles" %>
      </li>
    </ol>
  </div>
  <div class="right-section">
    <%= render "shared/user_section" %>
    <%= link_to "Create Article", new_article_path, class:"btn btn-primary"%>
    <%= link_to "Deliver", deliver_channel_path, class: "btn btn-primary", remote: true %>
  </div>
</nav>


<section class="channel-show p-4">
  <div class="card">
    <div class="card-header">
      Articales
    </div>
    <div class="card-body p-2">
      <% @articles.each do |article| %>
        <div class="m-3">
          <%= button_to edit_article_path(article), class:"w-100 border-0 bg-white", method: "get" do %>
            <div class="card py-4 px-2 row flex-row justify-content-between rounded-0"  style="border-left:3px solid #41A9A4">
              <div class="col-1 d-flex justify-content-center align-items-center">
<%# TODO判斷是否寄出，icon先放好了 %>
                <i class="far fa-circle">
                </i>
                <i class="fas fa-paper-plane">
                </i>
              </div>
              <div class="card-name col-7 d-flex flex-column align-items-start">
                <h5 class="card-title m-0">
                  <%= article.subject %>
                </h5>
                <small>
                  <%= article.created_at.strftime("%A, %B %d %Y") %>
                </small>
              </div>
  
              <div class="card-do col-4 d-flex justify-content-end align-items-center">
<%# TODO 送信路徑還要改!!! %>
                <%= link_to "Send", root_path, class:"btn btn-primary btn-sm mx-2 edit" %>
                <%= 
                  link_to "Delete", article_path(article), class:"btn-sm delete" , 
                                    method: :delete, 
                                    data: { 
                                      confirm: "Are you sure you want to delete this aritcle?", 
                                      class:"button"
                                    } 
                %>
              </div>
              
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>