<div><%= "Contents list."  %></div>
<% @contents.each do |content| %>
  <div> Title: <%= content.title %> </div>
  <%= text_field(:title, :desc) %> 
  <div> Description: <%= content.desc %> </div>
  <%= text_field(:title, :desc) %> 
<% end %>