<%= link_to "< Go back article", organization_channel_article_contents_path %>

<%= form_for(@content, url: organization_channel_article_contents_path, method: "POST") do |f| %>
  <div class="form-group">
  <h6 style="color:salmon;">Drag components to your email newsletter</h6>
  <%= f.label :title , "Title"%>
  <%= f.text_field :title, class:"form-control", placeholder:"Input title here" %>
  <%= f.label :desc , "Text"%>
  <%= f.text_area :desc, class:"form-control", placeholder:"Input text here" %>
  </div>
  <%= f.submit %>
<% end %>

