<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
    <%= link_to "Home", root_path %>
    <li class="breadcrumb-item active" aria-current="page">Article list</li>
  </ol>
</nav>
<section>
  <div class="card">
 <%= link_to "Create Email", new_channel_article_path(@channel), class:"btn btn-primary"%>
   <div class="card-header">
   <h3><%= @channel.name %> Emails</h3>
   </div>
   <div class="card-body">
      <% @articles.each do |article| %>
      <h5 class="card-title"><%= link_to article.subject, url: article %></h5>
      <%= link_to article.created_at.strftime("%A, %B %d %Y"), class:"card-text" %>
      <% end %>
   </div>
    <%# <%= link_to "Edit", edit_article_path, class:"btn btn-primary" %> 
  </div>
</section>