<nav class="top-bar">
  <div class="left-section">
    <%= render "shared/breadcrumb" %>
      <li class="breadcrumb-item" aria-current="page">
        <%= link_to "Articles" %>
      </li>
    </ol>
  </div>
  <div class="right-section">
    <%= render "shared/user_section" %>
    <%= link_to "返回列表", root_path , class:"btn btn-primary btn-sm"%>
  </div>
</nav>

<section class="channel-show py-4">
  <div class="card">
    <div class="card-header">
      新增電子報
    </div>
    <div class="card-body p-2">
      <%= form_for @article, url: article_index_path	 do |f| %>
        <div class="px-3 py-2">
          <%= f.label :subject, "標題", class:"mx-2" %>
          <%= f.text_field :subject, style:"width:30%;min-width:200px;" %>

          <%= f.submit "新增", class:"btn-sm btn-primary mx-2", style:"transition:.3s" %>
        </div>
      <% end %>
    </div>
  </div>
</section>