<div class="card border-info mb-3" >
  <%= form_for  do |f| %>
  <div class="card-header">
  <%= f.label :subject, "Subject" %>
  <%= f.text_field :subject %></div>
  <div class="card-body text-info"><%= f.submit "Create Email" %></div>
  <% end %>
</div>

<%= link_to "Back to Email list", articles_path, class:"button" %>