<nav class="top-bar">
  <div class="left-section">
    <%= render "shared/breadcrumb" %>
      <li class="breadcrumb-item" aria-current="page">
        <%= link_to "Articles" %>
      </li>
    </ol>
  </div>
  <div class="right-section">
    <%= render "shared/user_section" %>
    <%= link_to "新增電子報", new_article_path, class:"btn btn-primary"%>
  </div>
</nav>

<div class="card border-info mb-3" >
  <%= form_for @article, url: article_index_path	 do |f| %>
    <div class="card-header">
      <%= f.label :subject, "標題" %>
      <%= f.text_field :subject %>
    </div>
    <div class="card-body text-info">
      <%= f.submit "新增電子報" %>
    </div>
  <% end %>
</div>

<%= 
  link_to "回到文章列表", channel_path, 
                                class:"button" 
%>