<nav class="top-bar">
  <div class="left-section">
    <%= render "shared/breadcrumb" %>
      <li class="breadcrumb-item" aria-current="page">
        <%= link_to "Articles" %>
      </li>
    </ol>
  </div>
  <div class="right-section">
    <%= render "shared/user_section" %>
    <%= link_to "返回列表", root_path , class:"btn btn-primary btn-sm"%>
  </div>
</nav>

<div class="card-header mb-3" >
  <%= form_for @article, url: article_index_path	 do |f| %>
    <div>
      <%= f.label :subject, "標題" %>
      <%= f.text_field :subject %>

      <%= f.submit "新增電子報" %>
    </div>
  <% end %>
</div>