<div class="article-show">
  


  <nav class="top-bar article-top-bar">
    <div class="left-section">
      <%= render "shared/breadcrumb" %>
        <li class="breadcrumb-item" aria-current="page">
          <%= link_to "Articles" %>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <a class="title" href=""><%= @article.subject %></a>
          <%= text_field_tag :subject, @article.subject, id: "subject-editor",class: "w-75 form-controll", style: "display: none" %>
          
        </li>
      </ol>
    </div>
    <div class="right-section">
      <%= render "shared/user_section" %>
      <%= link_to "返回列表", root_path , class:"btn btn-primary btn-sm"%>
    </div>

  </nav>

<div class="article-body card-body container" data-controller="article">
  <div class="width-icon">
    <div class="btn border mobile" data-action="click->article#mobile">
      <i class="fas fa-mobile-alt"></i>
    </div>
    <div class="btn border desktop" data-action="click->article#desktop">
      <i class="fas fa-desktop"></i>
    </div>
  </div>

  <section class="article-content">
    <!-- 文章內容 -->
    <div class="card-body container" id="article-part">

      <!-- 頁首 -->
      <%#<!-- 要加上html_safe才能讓純字串被渲染成html頁面 -->%>
      <%= @article.header.html_safe %>

      <!-- 文章 -->
      <div id="contents" data-articleId="<%= @article.id %>" >
        <% @contents.each do |content| %>
          <%= render "shared/template/#{content.layout}",type: :show, content: content %>
        <% end %>
      </div>

      <!-- 頁尾 -->
      <%= @article.footer.html_safe %>

    </div>
  </section>
</div>
