<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to @channel.name, @channel %> </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @article.subject %></li>
  </ol>
</nav>

  <div class="card-header">
  <%= @article.subject %>
  </div>
<div>
<%= link_to "Edit Article", edit_channel_article_path, class:"button" %>
<%= link_to "Delete Article", channel_article_path, class:"button" %>
<%= link_to "Back to Aritcle list", @channel, class:"button" %>
</div>