
<div class="article-show">
  <%= content_for :side_bar do %>
  
    <div class="article-sidebar">
      <div id="drag-area">
        <li class="list-group-item">
        <%= link_to "+ Add Content", article_contents_path(article_id: @article.id), method: "POST", remote: true %></li>
        <li class="list-group-item">Header</li>
        <li class="list-group-item py-0">
          <div id="editor" data-controller="drag" data-target="editor">
            <% @contents.each do |content| %>
              <%= render "/shared/drag_bar", content: content %>
            <% end %>
          </div>
        </li>
        <li class="list-group-item border-bottom rounded-0">Footer</li>
      </div>
      <a href="#" data-controller="switch" data-action="click->switch#drag" id="back" style="display: none;">Go back</a>
      <div id="form-area">
        <% @contents.each do |content| %>
          <%= render "shared/edit_form/one_title_one_desc", content: content %>
        <% end %>
      </div>
    </div>
  
  <% end %>
  
  <nav class="top-bar article-top-bar">
    <div class="left-section">
      <%= render "shared/breadcrumb" %>
        <li class="breadcrumb-item" aria-current="page">
          <%= link_to "Articles" %>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          <a href=""><%= @article.subject %></a>
        </li>
      </ol>
    </div>
    <div class="right-section">
      <%= link_to "Sending Email", class:"btn btn-primary"%>
    </div>
  </nav>
  
  <section class="article-content">
    
    <div id="contents" class="card-body" data-articleId="<%= @article.id %>" >
      <% @contents.each do |content| %>
        <%= render "shared/template/one_title_one_desc", content: content %>
      <% end %>
    </div>
  </section>
</div>