<%= link_to root_path do %>
<%= image_tag("goodbytes-logo.png", :alt => "branding logo", class:"landing_navbar__logo") %>
<% end %>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "電子信箱" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "送出" %>
  </div>
<% end %>
<%= link_to "返回登入頁", new_session_path(resource_name) %><br />
