<aside id="sidebar">
  <%= link_to root_path, class: "sidebar__logo" do %>
    <h3>
      Goodbytes
    </h3>
  <% end %>
  <% if user_signed_in? %>
    <nav class="sidebar__menu sidebar__menu--push-up">

      <div>組織列表</div>
      <div class="border pr-2" data-controller="switch">
        <input type="hidden" data-target="switch.objectId" value="organization_list">
        <div data-action="click->switch#toggleList">
          <a class="d-block" href="#">
          <%= current_organization.name %>
          </a>
        </div>
      </div>
      <div class="position-relative" id="organization_list" style="display: none;z-index:1">
        <div class="position-absolute w-100 bg-light border rounded-lg">
          <% current_user.organizations.each do |org| %>
            <% if org.id != current_organization_id %>
              <a href="#" class="d-block pr-2" data-controller="switch" data-action="click->switch#movePlace">
                <input type="hidden" data-target="switch.url" value="/switch_organization">
                <input type="hidden" data-target="switch.toId" value="<%= org.id %>">
                <%= org.name %>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>

      <div>頻道列表</div>
      <div class="border pr-2" data-controller="switch">
        <input type="hidden" data-target="switch.objectId" value="channel_list">
        <div data-action="click->switch#toggleList">
          <a class="d-block" href="#">
          <%= current_channel.name %>
          </a>
        </div>
      </div>
      <div class="position-relative" id="channel_list" style="display: none;z-index:1">
        <div class="position-absolute w-100 bg-light border rounded-lg">
          <% current_channels.each do |channel| %>
            <% if channel.id != current_channel_id %>
              <a href="#" class="d-block pr-2" data-controller="switch" data-action="click->switch#movePlace">
                <input type="hidden" data-target="switch.url" value="/switch_channel">
                <input type="hidden" data-target="switch.toId" value="<%= channel.id %>">
                <%= channel.name %>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>

      <div>
        <%= link_to "Articles", root_path %>
      </div>
      <div>
        <%= link_to "Link", link_group_index_path %>
      </div>
    </nav>

    <nav class="sidebar__menu sidebar__menu--push-down">
      <div>
        <%= link_to "New Newsletter" %>
      </div>
      <div>
        <a>Billing</a>
      </div>
      <div>
        <%= link_to "Account Settings", edit_user_registration_path %>
      </div>
      <div>
        <%= link_to "Sign Out", destroy_user_session_path,method: :delete %>
      </div>
    </nav>
  <% end %>
</aside>

