<aside id="sidebar"><%= link_to root_path, class: "sidebar__logo" do %>
  <h3>
    Goodbytes
  </h3>
  <% end %>

    <nav class="sidebar__menu">
    <% if current_user %>
      <%= form_tag(switch_channel_path, method: 'post') do %>
        <select name="org_ch"  onchange="this.form.submit();">
          <% current_user.channels.each do |ch| %>
            <option value="<%= ch.organization_id %>|<%= ch.id %>"
              <% if ch.id == params[:id].to_i %>
                selected
              <% end %>
              ><%= ch.name %>
            </option>
          <% end %>
        </select>
      <% end %>
    <% end %>

      <a>Emails</a>
      <a>Saved Links</a>
      <a>Sources</a>
      <a>Settings</a>
    </nav>

    <nav class="sidebar__menu sidebar__menu--push-down">
      <a>New Newsletter</a>
      <a>Billing</a>
      <a>Account Settings</a>
      <a>Sign Out</a>
    </nav>
</aside>
