<aside id="sidebar">
  <%= link_to root_path, class: "sidebar__logo" do %>
    <h3>
      Goodbytes
    </h3>
  <% end %>
  <% if user_signed_in? %>
    <nav class="sidebar__menu sidebar__menu--push-up">
      <div>
        <%= form_tag(switch_organization_path, method: 'post') do %>
          <select name="id"  onchange="this.form.submit();" style="text-align-last: right;">
            <% current_user.organizations.each do |org| %>
              <option value="<%= org.id %>" 
                <% if org.id == current_organization_id %>
                  selected
                <% end %>
              >
                <%= org.name %>
              </option> 
            <% end %>
          </select>
        <% end %>
      </div>
      <div>
        <%= form_tag(switch_channel_path, method: 'post') do %>
          <select name="id"  onchange="this.form.submit();" style="text-align-last: right;">
            <% current_channels.each do |ch| %>
              <option value="<%= ch.id %>"
                
                <% if ch.id == current_channel_id %>
                  selected
                <% end %>
              >
                <%= ch.name %>
              </option> 
            <% end %>
          </select>
        <% end %>
      </div>
      <div>
        <%= link_to "Articles", root_path %>
      </div>
      <div>
        <%= link_to "Link", link_group_index_path %>
      </div>
    </nav>

    <nav class="sidebar__menu sidebar__menu--push-down">
      <div>
        <%= link_to "New Newsletter" %>
      </div>
      <div>
        <a>Billing</a>
      </div>
      <div>
        <%= link_to "Account Settings", edit_user_registration_path %>
      </div>
      <div>
        <%= link_to "Sign Out", destroy_user_session_path,method: :delete %>
      </div>
    </nav>
  <% end %>
</aside>

