
<table class="table">
  <% @channels.each do |ch| %>
    <tr>
      <td>
        <p><%= ch.name %></p>
      </td>
      <td>
        <%= form_tag(channel_path(id: ch.id), method: 'patch') do %>
          <input type="hidden" name="channel[organization_id]" value="<%= ch.organization_id %>">
          <input type="text" name="channel[name]">
          <input type="submit" value="改名">
        <% end %>
      </td>
      <td>
        <%= form_tag(channel_path(id: ch.id), method: 'delete') do %>
          <input type="hidden" name="channel[organization_id]" value="<%= ch.organization_id %>">
          <input type="submit" value="刪除">
        <% end %>
      </td>
    </tr>

  <% end %>
</table>

<%= form_tag(channels_path, method: 'post') do %>
  <div>
    <input type="text" name="channel[name]">
  </div>
  <div>
    <select name="channel[organization_id]">
      <% current_user.organizations.each do |org| %>
        <option value="<%= org.id %>"> <%= org.name %> </option>
      <% end %>
    </select>
  </div>
  <input type="submit" value="送出">
<% end %>