
<p>邀請信內容測試</p>
<%= link_to "請按我註冊加入", new_user_registration_path(
      email: "hellotest@hotmail.com",
      invite_token: "94539487"
      ) %>
<% myself = current_user %>
<% if myself %>


  <p>######################</p>
  <p>等待審核的邀請</p>
  <table class="table">
    <tr>
      <th>寄件者</th>
      <th>組織</th>
      <th>動作</th>
    </tr>
    <% current_user.recieve_invites.each do |invite| %>
      <tr>
        <td><%= invite.email %></td>
        <td><%= invite.org_name %></td>
        <td><%= link_to "同意", invite_accept_path(organization_id: invite.org_id,invite_token: invite.token) %></td>
        <td><%= link_to "不同意", invite_cancel_path(invite_token: invite.token), method: 'delete' %></td>
      </tr>
    <% end %>
  </table>
    
<% end %>
