<%#
<!-- 各樣板共用之edit form樣板 -->
<!-- 經由render_edit_form 的helper來到這裡後，會帶入各項變數來控制這邊的欄位開關 -->
<!-- 預設是一定會有最後一個submit按鈕 -->
%>
<%= form_for( content , remote: true, html: {style: "display: none"}) do |f| %>

  <div class="edit-content">
    <%= f.hidden_field :layout , value: Content.layouts[content.layout] %>
  
    <% if title %>
      <div class="form-group">
        <%= f.label :title, "標題" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
    <% end %>
  
    <% if desc %>
      <div class="form-group">
        <%= f.label :desc, "內文" %>
        <%= f.text_area :desc, class: "form-control", style: "height: 200px;resize: none" %>
      </div>
    <% end %>
  
    <% if url %>
      <div class="form-group">
        <%= f.label :url, "連結" %>
        <%= f.text_field :url, class: "form-control" %>
      </div>
    <% end %>
  
    <% if image %>
      <div class="form-group">
        <%= f.label :image, "圖片" %>
        <div class="d-flex justify-content-center">
          <div>
            <%= image_tag content.image.form.url if content.image.present? %>
          </div>
        </div>
        <%= f.file_field :image, class: "form-control" %>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= f.submit "OK", data: {controller: "content", action: "click->content#update"}, class: "form-control ok-button" %>
    </div>
  </div>
  
<% end %>