<% comment do %>
<%#<!-- 此為template列表，切版的話hidden input都別動 -->%>
<% end %>
<ul id="templates" class="flex-wrap p-1" style="padding-inline-start: 0px;">
  <% Content.layouts.each do |name, layout| %>
    <li class="col-4 p-1" data-controller="content">
      <%= hidden_field_tag "content[layout]", layout , data: {target: "content.layout" }%>
      <%= hidden_field_tag "content[title]", "" , data: {target: "content.title" }%>
      <%= hidden_field_tag "content[desc]", "" , data: {target: "content.desc" }%>
      <%= hidden_field_tag "content[url]", "" , data: {target: "content.url" }%>
      <a class="template-card card" href="#" data-action="click->content#create">
        <div class="list-box">
          <div class="content-icon">
            <%= render "shared/template/icon/#{name}" %>
          </div>
          <div class="content-txt">
            <%= Content.display_layout[layout] %>
          </div>
        </div>
      </a>
    </li>

  <% end %>

</ul>
