<% comment do %>
  在呼叫render時指定的type會作為變數帶到這邊，控制要render哪個區塊
  show就是文章裡的樣子，form就是文章的編輯器，drag就是側邊的拉動bar
<% end %>

<% case type %>
<% when :show %>

  <% comment do %>
    <div class="content d-flex" data-id="<%= content.id %>">
      <div class="col-6 my-auto content-img">
        <% if content.image.present? %>
          <%= image_tag content.image.url, class: "w-100"  %>
        <% else %>
          <%= image_tag "img_cover_big.jpg", class: "w-100" %>
        <% end %>
      </div>
      <div class="col-6">
        <p class="content-desc"><%= content.display_desc %></p>
      </div>
    </div>
  <% end %>

  <!-- 左圖右文2 -->
  <div class="content" data-id="<%= content.id %>" style="padding: 1rem 0;margin:0px auto;max-width:600px;">
    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
      <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
            <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                <tr>
                  <td align="left" style="font-size:0px;word-break:break-word;">
                    <% img_style =  "padding-bottom: 20px;padding-right: 20px; max-width: 340px" %>
                    <% if content.image.present? %>
                      <%= image_tag content.image.url, class: "content-image", style: img_style, align: "left", border: 0  %>
                    <% else %>
                      <%= image_tag "img_cover.jpg", class: "content-image", style: img_style , align: "left", border: 0 %>
                    <% end %> 
                    <div style="font-family:PingFangTC-Regular, sans-serif, Microsoft YaHei;font-size:18px;line-height:25px;text-align:left;color:#525252;"><%= content.display_desc %></div>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<% when :form %>
  <%= render_edit_form content,
                      :desc, :image
  %>
<% when :drag %>
  <%= render_drag_bar content, 
                      "Image: " + content.display_desc.limit(7)
  %>
<% end %>