
<% case type %>
<% when :show %>

  <% comment do %>
    <div class="content" data-id="<%= content.id %>">
      <div>
        <h3 class="content-title"><%= content.display_title %></h3>
      </div>
      <div class="border w-25"></div>
      <div class="mx-auto content-img">
        <% if content.image.present? %>
          <%= image_tag content.image.url, class: "w-100"  %>
        <% else %>
          <%= image_tag "img_cover_big.jpg", class: "w-100" %>
        <% end %>
      </div>
    </div> 
  <% end %>

  <div class="content" data-id="<%= content.id %>" style="margin:0px auto;max-width:600px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
      <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:20px 0 10px;text-align:center;">
            <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                <tr>
                  <td style="font-size:0px;padding:10px 0;word-break:break-word;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
                      <tbody>
                        <tr>
                          <td align="left" style="font-size:0px;padding:20px 0;word-break:break-word;">
                            <div style="font-family:PingFangTC-Regular, sans-serif, Microsoft YaHei;font-size:30px;line-height:1;text-align:left;color:#626262;"><%= content.display_title %></div>
                          </td>
                        </tr>
                        <tr>
                          <td style="width:100%"> 
                            <% img_style = "border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" %>
                            <% if content.image.present? %>
                              <%= image_tag content.image.url, style: img_style, height: "auto" %>
                            <% else %>
                              <%= image_tag "img_cover_big.jpg", style: img_style, height: "auto"%>
                            <% end %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


<% when :form %>
  <%= render_edit_form content,
                      :title, :image
  %>
<% when :drag %>
  <%= render_drag_bar content, 
                      "Image: " + content.display_title.limit(7)
  %>
<% end %>