
<% case type %>
<% when :show %>
<div class="content" data-id="<%= content.id %>">
  <div>
    <h3 class="content-title"><%= content.display_title %></h3>
  </div>
  <div class="border w-25"></div>
  <div class="mx-auto">
    <%= image_tag content.image.url, style: "max-width: 100%" if content.image.present? %>
  </div>
</div>

<% when :form %>
  <%= render_edit_form content,
                      :title, :image
  %>
<% when :drag %>
  <%= render_drag_bar content, 
                      content.display_title.limit(10)
  %>
<% end %>