
<% case type %>
<% when :show %>
  <div class="content" data-id="<%= content.id %>">
    <div>
      <h3 class="content-title"><%= content.display_title %></h3>
    </div>
    <div class="border w-25"></div>
    <div>
      <p class="content-desc"><%= content.display_desc %></p>
    </div>
  </div>

<% when :form %>
  <%= render_edit_form content,
                      :title, :desc
  %>
<% when :drag %>
  <%= render_drag_bar content, 
                      content.display_title.limit(7)
  %>
<% end %>