<%# 新增Link視窗modal，嘗試打Ajax不過未成功 %>
<% link_groups.each do |link_group| %>
            <div class="modal fade" id="add-link" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">

              <%= form_for(@saved_link, url: channel_link_group_saved_links_path(link_group_id: link_group.id), method: "POST") do |f| %>
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增Link</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div class="form-group">
                        <%= f.label :url %>
                        <%= f.text_field :url %>
                      </div>
                      <div class="form-group">
                        <%= f.label :subject %>
                        <%= f.text_field :subject %>
                      </div>
                      <div class="form-group">
                        <%= f.label :summary %>
                        <%= f.text_field :summary %>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <%= f.submit class:"btn btn-primary" %>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
        <%#  %>
<% end %>