<h1>編輯Link</h1>

<%= form_for(@saved_link, url: saved_link_path, method: "PATCH") do |f| %>
  
  <div>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  
  <div>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>

  <div>
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  </div>

  <%= f.submit %>
<% end %>

<%= link_to 'X (返回)',link_group_index_path %>
