<h1>新增Link</h1>

<%= form_for(@saved_link, url: organization_channel_link_group_saved_links_path, method: "POST") do |f| %>
  
  <div>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  
  <div>
    <%= f.label :subject %> 
    <%= f.text_field :subject %>
  </div>

  <div>
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  </div>


  <%= f.submit %>
<% end %>

<%= link_to 'X (返回)', organization_channel_link_groups_path %>
