<nav class="top-bar">
  <div class="left-section">
    <%= render "shared/breadcrumb" %>
      <li class="breadcrumb-item" aria-current="page">
        <%= link_to "Settings" %>
      </li>
    </ol>
  </div>
  <div class="right-section">
    <%= render "shared/user_section" %>
  </div>
</nav>

<div class="edit-wrapper">
  <section class="account_setting_wrapper org-edit">
    <div class="card">
      <div class="card-header text-center">
        <ul class="nav nav-tabs">
          <li class="nav-item">
          <%= link_to "個人資料", edit_user_registration_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
          <%= link_to "組織資料", edit_organization_path, class:"nav-link  active" %>
          </li>
          <li class="nav-item">
          <%= link_to "頻道資料", edit_channel_path, class:"nav-link" %>
          </li>
          <div class="org-form pl-5">
            <div class="form-row align-items-center">
              <h4>組織：<%= @organization.name.limit(30) %></h4>
            </div>
          </div>
        </ul>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header text-center subtitle">
        <h6 class="card-title m-0">組織邀請名單</h6>
      </div>

      <div class="card-body text-center">
        <%= form_tag(new_organization_role_path,class: "org-form", method: "post") do %>
          <div class="form-row align-items-center">
          <h6 class="col-auto col-form-label">寄送邀請信</h6>
          <div class="col-sm-8">
            <%= email_field_tag :email, nil, class: "form-control col-auto",placeholder: "請輸入收件者電子信箱" %>
            <input type="hidden" name="organization_id" value="<%= @organization.id %>">
          </div>
          <input class="btn btn-outline-secondary" type="submit" value="寄送邀請">
          </div>
        <% end %>
      </div>
      <div class="card-body text-center">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">收件者</th>
              <th scope="col">動作</th>
            </tr>
          </thead>
          <tbody>
            <% @organization.invites.each do |invite| %>
              <tr>
                <%= form_tag(new_organization_role_path, method: "post") do %>
                  <td><%= invite.receiver %></td>
                  <td class="row">
                    <input type="hidden" name="organization_id" value="<%= invite.item_id %>">
                    <input type="hidden" name="email" value="<%= invite.receiver %>">
                    <input class="btn btn-outline-secondary" type="submit" value="再次邀請">
                    <%= link_to "取消邀請", cancel_invite_path(invite_token: invite.token), data: {confirm: "確定？"}, method: 'delete' , class: "btn btn-outline-info"
                    %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>


    <div class="card">
      <div class="card-header text-center subtitle">
        <h6 class="card-title m-0">組織成員名單</h6>
      </div>
      <div class="card-body text-center">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">成員信箱</th>
              <th scope="col">成員名稱</th>
              <th scope="col">權限</th>
              <th scope="col">動作</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.name.limit(30) %></td>
                <td>
                  <%= form_tag(organization_role_path(organization_id: @organization.id, id: 'aha'), method: 'patch') do %>
                    <%= hidden_field_tag :user_id, user.id %>
                    <select class="btn btn-outline-dark" name="role"  onchange="this.form.submit();">
                      <% [member, admin].each do |role| %>
                        <option value="<%= role %>"
                          <% if role == user.role %>
                            selected
                          <% end %>
                          ><%= role %>
                        </option> 
                      <% end %>
                    </select>
                  <% end %>
                </td>
                <td>
                  <%= link_to "刪除", organization_role_path(@organization, user_id: user.id, id: 'd'),data: {confirm: "確定？"}, method: "delete", class:"btn btn-outline-info" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center subtitle">
        <h6 class="card-title m-0">組織現有頻道</h6>
      </div>
      <div class="card-body text-center">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">頻道名稱</th>
            </tr>
          </thead>
          <tbody>
            <% current_organization.channels.each do |channel| %>
              <tr>
                <td class="text-left px-4 text-truncate"><%= channel.name.limit(40) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center subtitle">
        <h6 class="card-title m-0">新增組織</h6>
      </div>
      <div class="card-body text-center">
        <div class="form-row align-items-center">
          <%= form_for(Organization.new, url: organization_path, class: "org-form", method: 'post') do |f| %>
            <div class="field">
            <%= f.label :name, "名稱：", class:"col-auto col-form-label"%>
            <%= f.text_field :name, placeholder: "請輸入新增組織名稱" %>
            <%= f.submit "新增", data: {disable_with: "請稍等.."}, class:"btn btn-outline-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center subtitle">
        <h6 class="card-title m-0">編輯組織</h6>
      </div>
      <div class="card-body">
        <div class="org-form">
          <div class="form-row align-items-center">
            <h6 class="col-auto col-form-label">組織改名：</h6>
            <%= form_for(@organization, url: organization_path, method: 'patch') do |f| %>
            <%= f.text_field :name, value: "", placeholder: "請輸入新名稱" %>
            <%= f.submit "送出", class: "btn btn-outline-secondary" %>
            <% end %>
          </div>
          <div class="form-row align-items-center">
            <h6 class="col-auto col-form-label">刪除組織</h6>
            <%= form_tag(organization_path, method: 'delete') do %>
              <%= submit_tag "刪除組織", class: "btn btn-outline-info", data: {confirm: "確定要刪除組織 #{@organization.name} ?"} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>