<div id="saved_links" class="pt-2" style="display: none;">

  <% if @link_groups.first %>
    <a href="#" data-id="<%= @link_groups.first.id %>" class="group-name  text-truncate text-break list-group-item border current-group" data-controller="switch" data-action="click->switch#groupListToggle">
      <%= @link_groups.first.name %>
    </a>
    <div class="position-relative">
      <div class="group-list" style="display:none" data-controller="switch">
        <% @link_groups[1..-1].each do |group| %>
          <div class="group-name text-truncate text-break px-4 py-1" data-id="<%= group.id %>" data-action="click->switch#linkGroup">
            <div class="d-inline-block">
              <%= group.name %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% @link_groups.each do |group| %>
      <div id="link-group-<%= group.id %>" <%= "style=display:none" if group != @link_groups.first %>>
        <% group.saved_links.each do |link| %>
          <li class="link" data-controller="content">
            <%= hidden_field_tag "content[layout]", 3 , data: {target: "content.layout" }%>
            <%= hidden_field_tag "content[title]", link.subject , data: {target: "content.title" }%>
            <%= hidden_field_tag "content[desc]", link.summary , data: {target: "content.desc" }%>
            <%= hidden_field_tag "content[url]", link.url , data: {target: "content.url" }%>
            <a class="list-group-item border" href="#" data-action="click->content#create"><%= link.subject %></a>
          </li>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>