<div style="background:#33acb7;" class="p-2">

<div class="border">
  <%= link_to "新增群組", new_channel_link_group_path %>
</div>

<div class="d-flex flex-wrap">
  <% @link_groups.each do |link_group| %>
    <div class="border m-2" style="width:200px">
      <div class="bg-info">
          <%= link_group.name %>
      </div>

      <div>
        <div>
          <%= link_to "修改群組", edit_channel_link_group_path(id: link_group.id) %>
        </div>
        <div>
          <%= link_to "刪除群組", channel_link_group_path(id: link_group.id), method: 'delete', data: {confirm: "確認刪除？" } %>
        </div>

        <div>
          <%= link_to "新增Link", new_channel_link_group_saved_link_path(link_group_id: link_group.id) %>
        </div>
        <div>
          <% link_group.saved_links.each do |saved_link| %>
            <%= saved_link.subject %>
          <div>
          <div>
            <%= link_to "修改Link", edit_channel_link_group_saved_link_path(link_group_id: link_group.id, id: saved_link.id) %>
          </div>
            <%= link_to "刪除Link", channel_link_group_saved_link_path(channel_id: 1, link_group_id: link_group.id, id: saved_link.id),  method: 'delete', data: {confirm: "確定要刪除連結？" } %>
          </div>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>
</div>
</div>