<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="https://use.typekit.net/bgh3rys.css">
    <title>Goodbytes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('mail_1.png') %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= %>
  </head>
  <body>

    <div class="layout">
      <%= render "shared/sidebar" %>
      <div class="sidebar-blank"></div>
      <main>
        <div class="container-fluid">
          <div class="wrap">
            <div class="header_navbar">
              <%= render "shared/user_section" %>
            </div>
            <div class="noticed"><%= notice %></div>
            <div class="alerted"><%= alert %></div>
            <div class="content">
              <%= yield %>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
